input {
	font-size: 40px;
	background-color: #ccc;
	margin: 5px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 0px 2px 0px #fff;
	cursor: pointer;
}
.main-container {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}
#top {
	text-align: right;
	margin-right: 40px;
}
#total {
	font-size: 40px;
}
